//Tyography style 
 h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
 }
// Gradient style
.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// navbar style
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}


// Home page style
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.home-signup-links{
  margin-top: 30px;
}

.alert-alert, .alert-notice{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.46);
    border-color: rgba(245, 222, 179, 0.53);
    margin-top: -14px;

}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
.flash-container {
  position: absolute;
  width: 100%;
}
.user-name {
padding: 0 !important ;
padding-left: 5px;
padding-top: 15px !important;
text-align: center;
a {
color: black !important;
margin: 0 !important;
padding: 5px!important;
}
a:hover, a:focus {
color: #000 !important;
}
}
.logout {
padding-left: 0;
}
.nav.navbar-right {
padding-bottom: 10px;
padding-top: 5px;
}
.nav.navbar-nav {
.navbar-link {
border-radius: 5px;
color: #fff;
margin-top: 15px;
padding: 8px;
}
.navbar-link:focus, .navbar-link:hover {
background: #3071a9;
color: #fff;
}
li a {
margin-right: 5px;
}
}
.nav.navbar-right li {
.btn {
color: #fff !important;
margin-top: 5%;
}
.btn-danger:hover, .btn-danger:focus {
background-color: darken(#d9534f,20%) !important;
}
.btn-primary:hover, .btn-primary:focus {
background-color: darken(#428bca,20%) !important;
}
}
.btn-primary:visited, .btn-danger:visited {
color: #fff;
}

